// Elements

html {
  background: $dark-gray;
  height: 100%;
  font-size: $html-font-size;
  overflow-y: scroll;
}

body {
  background: $dark-gray url('/css/stripe.png') fixed;
  color: $off-white;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  @include font-size(1);
  min-height: 100%;
}

a {
  color: $light-green;
  text-decoration: none;
  &:hover {
    border-bottom: 1px dotted $dark-green;
  }
}

hr {
  background-color: $dark-gray;
  border: 0;
  color: $dark-gray;
  height: 2px;
  margin: 30px 0;
}

h1 {
  @include font-size(2.5);
  font-weight: bold;
  margin: .67em 0 1em;
  text-align: center;
  text-shadow: 3px 2px #101010;
}

code, pre {
  background: #141414;
  color: #fff;
  font-family: Consolas, "Courier New", monospace;
  @include font-size(0.9);
  margin: 0 2px;
}

code {
  border: 1px solid $darker-gray;
  border-radius: 4px;
  padding: 2px 4px 0px;
  white-space: nowrap;
}

pre {
  border-radius: 10px;
  padding: 10px;
}

// IDs

#topline {
  background: $bright-green;
  height: 2px;
  width: 100%;
}

#wrap {
  padding: 35px 0 25px;
  width: $page-width;
}

#header {
  height: 60px;
  padding: 10px 0;

  ul {
    float: right;
    margin-top: 18px;
    margin-right: 5px;
  }

  li {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    list-style-type: none;
  }

  a {
    color: $off-white;
    float: left;
    @include font-size(1.5);
    text-transform: uppercase;

    &:hover {
      border-bottom: 2px solid $gray;
    }

    &:active {
      padding-top: 1px;
    }
  }

  img {
    background: transparent;
    position: absolute;
    @include vendor-prefix(transform, rotate(0deg));
    z-index: 2;
  }

  #logo {
    margin-top: 18px;
    margin-left: 100px;
  }

  .active {
    border-bottom: 2px solid $bright-green;
  }
}

#content {
  background: $gray;
  border-radius: 10px;
  padding: 25px 45px 30px;

  p {
    margin: 1.5em 0;
  }

  img {
    box-shadow: 0px 0px 10px $dark-gray;
  }

  ol, ul {
    padding-left: 35px;
  }

  li {
    margin: 1em 0;
  }

  td {
    padding: 5px;
  }

  button, input {
    background: $off-white;
    border: 0;
    border-radius: 14px;
    color: $dark-gray;
    padding: 3px 9px 3px 6px;
  }

  select {
    background: $off-white;
    border: 0;
    border-radius: 14px;
    color: $dark-gray;
    margin: 0 3px;
    padding: 3px 0 3px 6px;
  }
}

#footer {
  color: $light-gray;
  margin-top: 30px;
  text-align: center;

  a {
    border-radius: 5px;
    color: $light-gray;
    font-weight: bold;
    padding: 1px 6px 3px;
    &:hover {
      border: 0;
      &:nth-of-type(1) {
        color: #3b5998;
      }
      &:nth-of-type(2) {
        color: #0082b4;
      }
      &:nth-of-type(3) {
        color: #dd4b39;
      }
      &:nth-of-type(4) {
        color: #888;
      }
      &:nth-of-type(5) {
        color: #f80;
      }
    }
  }
}

// Classes

.nounderline:hover, .lb-close:hover {
  border-bottom: 0;
}

.borderless {
  border: 0;
  table, tbody, th, tr, td {
    border: 0;
  }
}

.centered {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

.tag {
  background: $dark-gray;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 12px;
}
.post-info {
  background: #141414;
  border-radius: 10px;
  margin: 2.5em 0 0;
  padding: 5px 12px;
  text-align: right;
}

.activetag {
  border-color: $light-green;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.left {
  margin: 0 20px 20px 20px;
}

img.right {
  margin: 0 0 20px 40px;
}

.hidden {
  display: none;
}
