.index-html {
  #wrap {
    width: $index-width;
  }

  #content {
    border-radius: $index-width / 2;
    height: $index-width;
    padding: 0px;
    width: $index-width;
  }

  #footer{
    margin-top: 20px;
  }

  svg {
    font-family: Arial;
    font-weight: bold;
    margin-left: 11px;
    margin-top: 16px;
    position: absolute;
  }

  line {
    stroke: #666;
    stroke-opacity: .6;
    stroke-width: 1px;
  }

  circle {
    stroke: $gray;
    stroke-width: 1.5px;
    -webkit-touch-callout: none;
    @include vendor-prefix(user-select, none);

    &:hover {
      stroke: $darker-gray;
    }
  }

  .group0 {
    fill: $bright-green;
  }

  .group1 {
    fill: $dark-green;
  }

  .group2 {
    fill: $light-green;
  }

  .group3 {
    fill: $light-green;
  }

  .group4 {
    fill: $dark-green;
  }

  .group5 {
    fill: $light-green;
  }
}

// Projects

.projects-html {
  .entry {
    min-height: 125px;

    strong {
      color: $off-white;
    }

    img {
      float: left;
      margin: 0 20px 0 10px;
    }

    span {
      float: right;
      font-style: italic;
    }

    p {
      margin: 10px 0 0 0 !important;
    }
  }
}

.integral-html {
  #content {
    h1 {
      text-decoration: line-through;
    }

    td {
      padding: 5px 2px !important;
    }
  }
}

.graphics-html {
  #content a img {
    height: 190px;
  }
}

.fizzbuzz-html {
  textarea {
    font-family: Consolas, monospace;
  }
}

// Blog

.cavalier-on-android-html {
  #content a img {
    max-width: 240px;
  }
}

.linuxsampler-html {
  #content a img {
    max-width: 300px;
  }
}
