.index-html {
  .content {
    height: 550px;
    padding: 0px;
    width: 550px;
  }

  svg {
    font-family: Arial;
    font-weight: bold;
    margin-left: 11px;
    margin-top: 16px;
    position: absolute;
  }

  line {
    stroke: #666;
    stroke-opacity: .6;
    stroke-width: 1px;
  }

  circle {
    stroke: $dark-gray;
    stroke-width: 3px;
    -webkit-touch-callout: none;
    @include vendor-prefix(user-select, none);

    &:hover {
      stroke: $darker-gray;
    }
  }

  .group0 {
    fill: $bright-green;
  }

  .group1 {
    fill: $dark-green;
  }

  .group2 {
    fill: $light-green;
  }

  .group3 {
    fill: $light-green;
  }

  .group4 {
    fill: $dark-green;
  }

  .group5 {
    fill: $light-green;
  }
}

// Projects

.projects-html {
  h2 {
    margin: 0 0 .25em;
  }

  h3 {
    margin-bottom: 0.25em;
  }

  p {
    margin: 1.25em 0 0 0;
  }

  iframe {
    height: 170px;
    width: 100%;
  }

  .project-table {
    display: table;
    margin-bottom: 40px;
    min-height: 450px;
  }

  .project-desc {
    display: none;
  }

  .project-cell {
    display: table-cell;
    height: 420px;
    padding: 40px 0 0;
    vertical-align: top;

    &:first-child {
      padding-right: 35px;
      width: 100%;
    }

    &:last-child {
      $thumbnail-width: 105px;

      min-width: $thumbnail-width;

      @media(min-width: 450px) {
        min-width: 2 * $thumbnail-width;
      }

      @media(min-width: 600px) {
        min-width: 3 * $thumbnail-width;
      }
    }
  }

  .project-timeline {
    color: $light-gray;
  }

  .thumbnail {
    cursor: pointer;
    display: inline-block;

    img {
      border-radius: 5px;
      box-shadow: none;
      display: block;
      max-width: 100px;
      opacity: 0.15;
      transition: opacity 0.15s;

      &.dark {
        filter: brightness(4);
        -webkit-filter: brightness(4);
      }

      &.untagged {
        opacity: 0.05 !important;
      }

      &:hover, &.current, &.tagged {
        opacity: 1;
      }
    }
  }

  .legend {
    margin: 0 auto;

    td {
      &:first-child span {
        border-radius: 10px;
        display: inline-block;
        height: 6px;
        margin-right: 6px;
        width: 6px;
      }

      &:last-child {
        color: $light-gray;
        padding-top: 1px;
        text-transform: uppercase;
      }
    }
  }
}

.integral-html {
  .content {
    h1 {
      text-decoration: line-through;
    }

    td {
      padding: 5px 2px !important;
    }
  }
}

.graphics-html {
  .content a img {
    height: 190px;
  }
}

.fizzbuzz-html {
  textarea {
    font-family: Consolas, monospace;
  }
}

// Blog

.blog-html {
  h2 {
    a {
      outline: none;

      &:hover {
        border: 0;
      }
    }

    img {
      margin-left: 10px;
    }
  }

  .date {
    white-space: nowrap;
  }
}

.cavalier-on-android-html {
  .content a img {
    max-width: 240px;
  }
}

.linuxsampler-html {
  .content a img {
    max-width: 300px;
  }
}
