---
description: My thoughts and how-to guides about tech and music.
layout: default
omit_h1: true
title: Blog
---

{% assign blog_posts = site.posts | where: 'layout', 'post' %}
<p>
  <select style="margin-left: 0">
    <option value="all" selected="selected">
      All posts ({{ blog_posts | size }})
    </option>
    {% for tag in site.tags %}
    <option value="{{ tag[0] }}">
      {{ tag[0] }} posts ({{ tag[1] | size }})
    </option>
    {% endfor %}
  </select>
  <select>
    <option value="date" selected="selected">Most recent</option>
    <option value="comments">Most comments</option>
    <option value="words">Most words</option>
  </select>
</p>

<table>
  <tbody>
    {% for post in blog_posts %}
    <tr
      data-date="{{ post.date | date: '%Y%m%d' }}"
      data-tags="{{ post.tags | join: ' ' }}"
      data-words="{{ post.content | regex_replace: '<script.*?</script>', '' | number_of_words }}"
    >
      <td style="text-align: right; white-space: nowrap">
        {{ post.date | date: '%Y' }}
      </td>
      <td><a href="{{ post.url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  (async () => {
    // Implement tag dropdown
    const $tagSelect = $("main select:nth-child(1)");
    const $rows = $$("main tr");
    $tagSelect.addEventListener("change", () => {
      const tag = $tagSelect.value;
      for (const $tr of $rows) {
        $tr.hidden = !(
          tag === "all" || $tr.dataset.tags.split(" ").includes(tag)
        );
      }
    });

    // Implement sort dropdown
    const $tbody = $("main tbody");
    const $sortSelect = $("main select:nth-child(2)");
    $sortSelect.addEventListener("change", () => {
      const sortKey = $sortSelect.value;
      const sortedRows = $rows.sort(
        (a, b) =>
          parseInt(b.dataset[sortKey], 10) - parseInt(a.dataset[sortKey], 10),
      );
      for (const $tr of sortedRows) {
        $tbody.removeChild($tr);
        $tr.querySelector("td").innerText =
          {
            comments: $tr.dataset[sortKey],
            date: $tr.dataset[sortKey].slice(0, 4),
            words: $tr.dataset[sortKey],
          }[sortKey] ?? "";
        if ($tr.dataset.comments !== "0") {
          $tr.querySelector(".count").hidden = sortKey === "comments";
        }
        $tbody.appendChild($tr);
      }
    });

    // Show comment counts
    const HN_COMMENT_COUNTS = { "/ten-years-of-logging-my-life": 156 };
    const paths = $rows.map($tr => $tr.querySelector("a").pathname);
    const counts = await (
      await fetch("https://chaidarun.com/isso/count", {
        body: JSON.stringify(paths),
        method: "POST",
      })
    ).json();
    for (const [i, $tr] of $rows.entries()) {
      const count = counts[i] + (HN_COMMENT_COUNTS[paths[i]] ?? 0);
      $tr.dataset.comments = count;
      if (count) {
        $tr
          .querySelector("a")
          .insertAdjacentHTML(
            "afterend",
            ` <span class="count">${count} comment${
              count === 1 ? "" : "s"
            }</span>`,
          );
      }
    }
  })();
</script>
