<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.description != null %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="author" content="Art Chaidarun" />
    <title>
      {% if page.slug != "" %}{{ page.title }} - {% endif %}Art Chaidarun
    </title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% if layout.head != null %}{{ layout.head | flatten }}{% endif %} {% if
    page.head != null %}{{ page.head }}{% endif %}
  </head>
  <body id="top" data-slug="{{ page.url | replace:'/','' }}">
    {{ content }} {% include ga.html %}
  </body>
</html>
