<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.description != null %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="author" content="Art Chaidarun" />
    <title>
      {% if page.title != "Index" %}{{ page.title }} | {% endif %}Art Chaidarun
    </title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% if page.headcss != null %}{{ page.headcss }}{% endif %} {% if page.headjs
    != null %}{{ page.headjs }}{% endif %}
  </head>
  <body id="top" class="{{ page.slug }}-html">
    {{ content }} {% include ga.html %}
  </body>
</html>
