---
layout: default
---

{{ content }}
<div class="post-info">
  <!-- {% if page.tags != empty %}{{ page.tags | join: ', ' }} | {% endif %} -->{{
  page.date | date: "%B %e, %Y" }}
</div>
<script
  data-isso="https://chaidarun.com/isso/"
  data-isso-max-comments-nested="inf"
  data-isso-max-comments-top="inf"
  data-isso-postbox-text-text-en="Type a comment..."
  data-isso-postbox-author-placeholder-text-en="Your name"
  src="https://chaidarun.com/isso/js/embed.min.js"
></script>
<section id="isso-thread"></section>

<script>
  (() => {
    // Heading links
    for (const $heading of document.querySelectorAll(".content h2")) {
      const { id } = $heading;
      if (id) {
        $heading.insertAdjacentHTML(
          "beforeend",
          `<a href="#${id}" title="Link to this heading"><img src="/img/link.svg"></a>`,
        );
      }
    }

    // Footnote transitions
    for (const $a of document.querySelectorAll(
      "a.footnote, a.reversefootnote",
    )) {
      $a.addEventListener("click", e => {
        e.preventDefault();
        const target = document.getElementById($a.hash.slice(1));
        target?.scrollIntoView({ behavior: "smooth" });
      });
    }
  })();
</script>
