---
layout: default
---
{{ content }}
<div class="post-info"><!-- {% if page.tags != empty %}{{ page.tags | join: ', ' }} | {% endif %} -->{{ page.date | date: "%Y.%m.%d" }}</div>
<script
    data-isso="https://chaidarun.com/isso/"
    data-isso-avatar="false"
    data-isso-gravatar="true"
    data-isso-require-author="true"
    src="https://chaidarun.com/isso/js/embed.min.js"
></script>
<section id="isso-thread"></section>

<div id="lightbox">
  <img />
</div>
<script>
(() => {
  // Heading links
  for (const $heading of document.querySelectorAll(".content h2")) {
    const { id } = $heading;
    if (id) {
      $heading.insertAdjacentHTML(
        'beforeend',
        `<a href="#${id}" title="Link to this heading"><img src="/img/link.svg"></a>`
      );
    }
  }

  // Lightbox
  const $lightboxDimmer = document.querySelector("#lightbox");
  const $lightboxImg = document.querySelector("#lightbox img");
  $lightboxDimmer.addEventListener("click", () => {
    $lightboxDimmer.style.display = "none";
  });
  for (const $el of document.querySelectorAll(".content img")) {
    if ($el.parentNode.nodeName.toLowerCase() !== "a") {
      const measurer = new Image();
      measurer.onload = function () {
        if (this.naturalWidth > 660) {
          $el.title = "Click to enlarge";
          $el.style.cursor = "pointer";
          $el.addEventListener("click", () => {
            $lightboxImg.src = $el.src;
            $lightboxDimmer.style.display = "initial";
          });
        }
      };
      measurer.src = $el.src;
    }
  }
})();
</script>
