---
---

@import 'normalize';
@import 'twilight';

/****************************************************************** VARIABLES*/

// Sizes

$border-radius: 4px;
$font-size-body: 16px;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-small: 14px;
$font-weight-bold: 600;
$media-desktop: 'min-width: 600px';
$width-page: 720px;

// Colors

$gray-dark: #202227;
$gray-darker: #14171d;
$gray-light: #626874;
$gray: #313640;
$green-bright: #6fe358;
$green-dark: #00583c;
$green-light: #70ad64;
$green-select: #c5ffba;
$white-off: #c0c0c0;

/******************************************************************** GLOBAL */

// Elements

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}

html {
  background: $gray-dark;
  height: 100%;
  overflow-y: scroll;
}

body {
  background: $gray-dark;
  color: $white-off;
  font-family: 'Open Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
  font-size: $font-size-body;
  min-height: 100%;
}

a {
  text-decoration: none;
}

hr {
  background-color: $gray-light;
  border: 0;
  color: $gray-dark;
  height: 1px;
  margin: 30px 0;
}

h1, h2, h3 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-h1;
  letter-spacing: -1px;
  margin: 1em 0;
}

h2 {
  font-size: $font-size-h2;
  letter-spacing: -1px;
  margin-top: 1.5em;
}

h3 {
  font-size: $font-size-h3;
}

p {
  line-height: 1.8;
}

code, pre {
  background: $gray;
  font-family: 'DejaVu Sans Mono', Consolas, Monaco, 'Lucida Console', monospace;
  font-style: normal;
  font-size: 0.875em;
}

code:not([data-lang]) {
  border-radius: $border-radius;
  color: $white-off;
  margin: 0 2px;
  padding: 4px 7px 3px;
  white-space: nowrap;
}

pre {
  border-radius: $border-radius;
  margin: 2em 0;
  padding: 15px 20px;
}

strong {
  font-weight: $font-weight-bold;
}

iframe { // YouTube
  border: 0;
  display: block;
  height: 315px;
  width: 560px;
}

blockquote {
  font-style: italic;
}

img {
  border-radius: $border-radius;
  max-width: 100%;
}

// Selection

@mixin selection() {
  color: $gray-dark;
  background: $green-select;
}

::-moz-selection { @include selection(); }

::selection { @include selection(); }

// Placeholder

::-webkit-input-placeholder { color: $gray-light; }
::-moz-placeholder { color: $gray-light; }
:-ms-input-placeholder { color: $gray-light; }
:-moz-placeholder { color: $gray-light; }

// IDs

#topline {
  background: $green-bright;
  height: 2px;
  width: 100%;
}

#wrap {
  max-width: $width-page;
  padding: 0 30px;
}

#header {
  margin: 20px 0 60px;
  user-select: none;

  @media($media-desktop) {
    margin: 50px 0 70px;
  }

  ul {
    margin: 0 0 0 25px;
    padding: 0;

    @media($media-desktop) {
      float: right;
      margin: 0;
    }
  }

  li {
    float: left;
    font-size: $font-size-small;
    list-style-type: none;
    margin-left: 10px;

    @media($media-desktop) {
      font-size: $font-size-h3;
      margin-left: 30px;
    }
  }

  li a, span {
    border-bottom: 2px solid transparent;
    color: $white-off;
    display: inline-block;
    padding-bottom: 1px;
    text-transform: uppercase;
    transition: border-color 0.25s;

    &:hover {
      border-color: $gray;
    }

    &.active {
      border-color: $green-bright;
    }
  }

  li a:active {
    padding-top: 1px;
  }

  #logo {
    margin-left: -5px;
  }

  img {
    background: transparent;
    position: absolute;
    margin-top: -1px;
    width: 30px;
  }

  #logo:hover img {
    transform: rotate(360deg);
    transition: transform 0.4s;
  }

  span {
    font-size: $font-size-h3;
    margin-left: 40px;
  }
}

.content {
  p {
    margin: 1.8em 0;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $green-light;
    padding-bottom: 1px;
    transition: border-color 0.25s;

    &:hover {
      border-color: $green-light;
    }
  }

  ol, ul {
    padding-left: 35px;
  }

  li {
    margin: 1em 0;

    p {
      margin: 1em 0 1.5em;
    }
  }

  th {
    font-style: normal;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  th, td {
    padding: 5px 25px 5px 0;
    vertical-align: top;
  }

  button, input, select {
    background: $white-off;
    border: 0;
    border-radius: $border-radius;
    font-family: 'Open Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    color: $gray-dark;
    margin: 0 3px;
  }

  button, input {
    padding: 5px 10px;
  }

  button {
    font-weight: 700;
  }

  select {
    padding: 2px 7px;
  }
}

#disqus_thread {
  margin-top: 70px;
}

#footer {
  color: $gray-light;
  font-size: $font-size-small;
  margin: 40px 0 30px;
  user-select: none;

  @media($media-desktop) {
    margin: 70px 0 40px;
  }

  p {
    margin: 0;
  }

  span {
    margin-left: 25px;
    text-align: left;
  }

  a {
    $size: 25px;

    display: inline-block;
    height: $size;
    margin-left: 3px;
    position: relative;
    vertical-align: top;
    width: $size;

    &:hover {
      &:nth-of-type(1) > svg {
        fill: $white-off;
      }

      &:nth-of-type(2) > svg {
        fill: #0077b5;
      }

      &:nth-of-type(3) > svg {
        fill: $green-bright;
      }

      &:nth-of-type(4) > svg {
        fill: #f80;
      }
    }
  }

  // SVGs from https://codepen.io/ruandre/pen/howFi
  svg {
    fill: $gray-light;
    height: 100%;
    transition: fill 0.4s;
    width: 100%;
  }
}

// Classes

.nounderline, .nounderline:hover, .lb-close:hover {
  border-bottom: 0 !important;
}

.borderless {
  border: 0;

  table, tbody, th, tr, td {
    border: 0;
  }
}

.centered {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

.tag {
  background: $gray-darker;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $gray-light;
  display: inline-block;
  font-size: $font-size-small;
  cursor: default;
  margin: 0 6px 6px 0;
  padding: 5px 10px;
  transition: color 0.2s;
  user-select: none;
}

.post-info {
  color: $gray-light;
  font-size: $font-size-h3;
  margin: 2em 0;
}

.activetag {
  color: $white-off;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.left {
  margin: 0 20px 20px 20px;
  width: 100%;

  @media($media-desktop) {
    width: initial;
  }
}

img.right {
  margin: 0 0 20px 50px;
  width: 100%;

  @media($media-desktop) {
    width: initial;
  }
}

.hidden {
  display: none;
}

/********************************************************************* PAGES */

.index-html {
  .content {
    $height-svg: 600px;
    $width-svg: 720px;

    height: $height-svg - 30px;
    margin: -40px 0 -40px 50%;
    overflow: hidden;
    padding: 0px;
    transform: translateX(-$width-svg / 2);
    width: $width-svg;

    svg {
      font-family: Arial;
      font-weight: 700;
      margin-top: -30px;
    }

    line {
      stroke: #6c7486;
      stroke-opacity: .6;
      stroke-width: 1px;
    }

    circle {
      stroke: $gray-dark;
      stroke-width: 3px;
      user-select: none;
    }

    .g0 { fill: $green-bright; }
    .g1, .g4 { fill: $green-dark; }
    .g2, .g3, .g5 { fill: $green-light; }
  }

  #footer {
    text-align: center;
  }
}

// Projects

.projects-html .content {
  h2 {
    margin: 0 0 .25em;
  }

  h3 {
    margin-bottom: 0.25em;
  }

  p {
    margin: 1.25em 0 0 0;
  }

  iframe {
    height: 170px;
    width: 100%;
  }

  .project-table {
    display: table;
    margin-bottom: 40px;
  }

  .project-desc {
    display: none;
  }

  .project-cell {
    display: table-cell;
    vertical-align: top;

    &:first-child {
      padding-right: 40px;
      width: 100%;
    }

    &:last-child {
      $width-thumbnail: 103px;

      min-width: $width-thumbnail;

      @media(min-width: 450px) {
        min-width: 2 * $width-thumbnail;
      }

      @media($media-desktop) {
        min-width: 3 * $width-thumbnail;
      }
    }
  }

  .project-timeline {
    color: $gray-light;
  }

  .thumbnail {
    border-radius: $border-radius;
    box-shadow: none;
    cursor: pointer;
    display: block;
    display: inline-block;
    margin: 0 3px 3px 0;
    max-width: 100px;
    opacity: 0.2;
    transition: opacity 0.15s;
    vertical-align: top;

    &.dark {
      filter: brightness(4);
      -webkit-filter: brightness(4);
    }

    &.untagged {
      opacity: 0.2 !important;
    }

    &:hover, &.current, &.tagged {
      opacity: 1;
    }
  }
}

.integral-html .content {
  table {
    margin: 40px;
  }

  td {
    padding: 0;
    vertical-align: middle;
  }

  .int {
    border: 0px;
    font-family: Impact, Georgia, 'Times New Roman';
    font-size: 8em;
  }

  .paren {
    font-family: 'Times New Roman';
    font-size: 6em;
  }

  #integrand, #integrand input {
    width: 100%;
  }

  #differentials {
    padding-left: 15px;
  }
}

.graphics-html .content {
  a img {
    height: 190px;
  }
}

.fizzbuzz-html .content {
  textarea {
    font-family: Consolas, monospace;
  }
}

// Blog

.blog-html .content {
  .date {
    color: $gray-light;
    white-space: nowrap;
  }
}

.cavalier-on-android-html .content {
  a img {
    max-width: 240px;
  }
}

.guitalele-html .content {
  td:first-child {
    white-space: nowrap;
  }
}

.linuxsampler-html .content {
  a img {
    max-width: 300px;
  }
}

// About

.about-html .content {
  img {
    margin-top: 10px;
    width: 40%;

    @media($media-desktop) {
      width: 195px;
    }
  }
}

/********************************************************************** ISSO */

#isso-thread {
  // Hide email and website
  .input-wrapper:nth-child(2), .input-wrapper:nth-child(3) {
    display: none;
  }

  input[type=submit] {
    font-weight: 700;
    padding: 5px 10px;
  }

  input, .textarea {
    background: $gray;
    box-shadow: none !important;
    border-color: transparent !important;
    color: $gray-light !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  h4, .author {
    color: $gray-light !important;
  }

  .isso-comment:not(:first-of-type), .isso-follow-up .isso-comment {
    border-top: 1px solid $gray !important;
  }

  .isso-comment > div.text-wrapper > .isso-comment-footer > a + a {
    margin-left: 1em !important;
    padding-left: 0 !important;
  }

  .isso-comment > div.text-wrapper > .isso-comment-footer a:hover {
    color: $green-light !important;
    text-shadow: none !important;
  }

  .isso-comment > div.text-wrapper > .isso-comment-header a.permalink {
    color: $gray-light !important;

    &:hover {
      border-color: $gray-light !important;
      color: $gray-light !important;
    }
  }

  svg {
    border: none !important;
    box-shadow: none !important;
  }
}

/********************************************************************* TIPSY */

.tipsy {
  font-size: $font-size-small;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tipsy-inner {
  background-color: $gray-darker;
  color: $white-off;
  max-width: 200px;
  padding: 10px 15px 9px;
  text-align: center;
}

.tipsy-inner {
  border-radius: $border-radius;
}

.tipsy-arrow {
  border: 5px dashed #000;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
}

.tipsy-arrow-s {
  border-top-color: #000;
}

.tipsy-s .tipsy-arrow {
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}
