---
---

@use "sass:color";
@use "normalize";
@use "twilight";

/***************************************************************** VARIABLES */

// Sizes
$border-radius: 4px;
$font-size-body: 16px;
$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-small: 0.875em; // Originally 14px, now using em to work in h2
$font-weight-bold: 600;
$media-desktop: "min-width: 600px";
$width-page: 720px;
$width-indent: 30px;

// Colors
@function lighten($color, $lightness) {
  @return color.adjust($color, $lightness: $lightness);
}
$bg: #202227; // Site background
$bg-panel: lighten($bg, 5%); // Input/code background, borders
$color-text: #c8c8c8; // Text
$color-subtext: lighten($color-text, -30%); // De-emphasized text
$color-link: #77b86a; // Hyperlink

// Speeds
$transition-fast: 0.15s;

/******************************************************************** GLOBAL */

// Elements

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}

html {
  background: $bg;
  height: 100%;
  overflow-y: scroll;
}

body {
  background: $bg;
  color: $color-text;
  font-size: $font-size-body;
}

a {
  text-decoration: none;
}

hr {
  background-color: $color-subtext;
  border: 0;
  color: $bg;
  height: 1px;
  margin: 30px 0;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-h1;
  letter-spacing: -1px;
  margin: 1em 0;
}

h2 {
  font-size: $font-size-h2;
  letter-spacing: -1px;
  margin-top: 1.5em;
}

h3 {
  font-size: $font-size-h3;
}

p {
  line-height: 1.8;
}

ul {
  list-style-type: circle;
}

button,
input,
select,
textarea {
  box-shadow: none !important;
  border: 0 !important;
  border-radius: $border-radius;
  font-family: inherit !important;
  margin: 0 3px;
}

button,
input[type="submit"] {
  background: $color-link !important;
  color: $bg !important;
  font-weight: $font-weight-bold;
  padding: 5px 15px !important;

  &:hover {
    background: lighten($color-link, 8%) !important;
  }
}

input[type="text"],
select,
textarea {
  background: $bg-panel !important;
  color: $color-text !important;

  &:hover:not([readonly="readonly"]) {
    background: lighten($bg-panel, 3%) !important;
  }
}

input[type="text"],
textarea {
  padding: 5px 10px;
}

select {
  padding: 5px 7px 5px 10px;
}

code,
pre {
  background: $bg-panel;
  font-family: "DejaVu Sans Mono", Consolas, Monaco, "Lucida Console", monospace;
  font-style: normal;
  font-size: $font-size-small;
}

code:not(pre > code) {
  border-radius: $border-radius;
  color: $color-text;
  margin: 0 2px;
  padding: 4px 7px 3px;
  white-space: nowrap;
}

pre {
  border-radius: $border-radius;
  line-height: 1.2;
  margin: 2em 0;
  padding: 15px 20px;
}

strong {
  font-weight: $font-weight-bold;
}

abbr {
  text-decoration: none;
}

blockquote {
  color: $color-subtext;
  font-style: italic;
}

img {
  border-radius: $border-radius;
  max-width: 100%;
}

header {
  margin: 20px 0 60px;
  user-select: none;

  @media ($media-desktop) {
    margin: 50px 0;
  }

  ul {
    margin: 0 0 0 25px;
    padding: 0;

    @media ($media-desktop) {
      float: right;
      margin: 0;
    }
  }

  li {
    float: left;
    font-size: $font-size-small;
    list-style-type: none;
    margin-left: 10px;

    @media ($media-desktop) {
      font-size: $font-size-h3;
      margin-left: 30px;
    }
  }

  li a,
  span {
    color: $color-text;
    display: inline-block;
    padding-bottom: 1px;
    text-transform: uppercase;
  }

  li a {
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: $bg-panel;
    }

    &.active {
      border-color: $color-link;
    }
  }

  li a:active {
    padding-top: 1px;
  }

  #logo {
    margin-left: -5px;
  }

  img {
    background: transparent;
    position: absolute;
    margin-top: -1px;
    width: 30px;
  }

  #logo:hover img {
    transform: rotate(360deg);
    transition: transform 0.5s;
  }

  span {
    font-size: $font-size-h3;
    margin-left: 40px;
  }
}

main {
  li {
    line-height: 1.8;
  }

  p {
    margin: 1.8em 0;
  }

  a {
    color: $color-link;
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid $color-link;
    }
  }

  blockquote {
    margin-left: $width-indent;
  }

  ol,
  ul {
    padding-left: $width-indent;
  }

  li {
    margin: 1em 0;

    p {
      margin: 1em 0 1.5em;
    }
  }

  th {
    font-style: normal;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  th,
  td {
    padding: 5px 25px 5px 0;
    vertical-align: top;
  }

  h2 a {
    margin-left: 15px;
    opacity: 0;
  }

  h2:hover a {
    border: 0 !important;
    opacity: 0.3;
  }

  h2 img {
    height: 24px;
    position: relative;
    top: 2px;
    width: 24px;
  }

  canvas {
    margin-right: 20px;
    padding-right: 20px;
    width: 660px;
  }

  // Increase hitbox size for easier clickability
  .footnote,
  .reversefootnote {
    border: none !important;
    margin: -7px -12px;
    padding: 7px 12px !important;
    position: relative;
  }

  .footnotes {
    border-top: 1px solid $bg-panel;
    font-size: 0.85em;
    margin-top: 50px;
  }
}

footer {
  color: $color-subtext;
  font-size: $font-size-small;
  margin: 40px 0 40px;
  user-select: none;

  @media ($media-desktop) {
    margin: 50px 0;
  }

  p {
    margin: 0;
  }

  span {
    margin-left: 25px;
    text-align: left;
  }

  a {
    $size: 25px;

    display: inline-block;
    height: $size;
    margin-left: 3px;
    position: relative;
    vertical-align: top;
    width: $size;

    &:hover {
      &:nth-of-type(1) > svg {
        fill: $color-text;
      }

      &:nth-of-type(2) > svg {
        fill: #0077b5;
      }

      &:nth-of-type(3) > svg {
        fill: $color-link;
      }

      &:nth-of-type(4) > svg {
        fill: #f80;
      }
    }
  }

  // SVGs from https://codepen.io/ruandre/pen/howFi
  svg {
    fill: $color-subtext;
    height: 100%;
    width: 100%;
  }
}

// Selection

::-moz-selection,
::selection {
  color: $bg;
  background: $color-link;
}

// IDs

#wrap {
  max-width: $width-page;
  padding: 0 30px;
}

#lightbox {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  height: 100vh;
  left: 0;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity $transition-fast;
  width: 100vw;
  z-index: 2;

  &.shown {
    opacity: 1;
    pointer-events: initial;
  }

  img {
    cursor: default;
    left: 50%;
    max-height: 95%;
    max-width: 95%;
    position: relative;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

#disqus_thread {
  margin-top: 70px;
}

// Classes

.nounderline,
.nounderline:hover,
.lb-close:hover {
  border-bottom: 0 !important;
}

.borderless {
  border: 0;

  table,
  tbody,
  th,
  tr,
  td {
    border: 0;
  }
}

.centered {
  margin: 0 auto;
}

.text-centered {
  text-align: center;
}

.tag {
  background: $bg-panel;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-small;
  cursor: default;
  margin: 0 6px 6px 0;
  padding: 5px 10px;
  transition: $transition-fast;
  user-select: none;

  &.inactive {
    background: transparent;
    color: $color-subtext;
  }
}

.post-info {
  color: $color-subtext;
  font-size: $font-size-h3;
  margin: 2em 0;
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.right {
  margin: 0 0 15px 25px;
  max-width: 30%;

  @media ($media-desktop) {
    margin: 0 0 30px 30px;
    max-width: 300px;
  }
}

.hidden {
  display: none;
}

// Black magic to get full-width YouTube embeds
// https://stackoverflow.com/a/38270745
.youtube-wrap {
  height: 0;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
  }
}

/********************************************************************* PAGES */

// By default, we should prefer to simply inline any one-off page-specific
// styles directly into HTML `style` attributes. Declaring a page-specific
// style here is better than inlining it when the style applies to more than
// one element OR uses Sass variables OR benefits from Sass's nesting feature
// OR can't be inlined (e.g. :hover, @media). Using <style> inside <body> kinda
// works but isn't worth having yet another way to do styling:
// https://stackoverflow.com/a/16844668

body[data-slug="apps-i-use"] main {
  h2 + p {
    margin-top: -20px;
  }
}

body[data-slug="blog"] main {
  a {
    margin-right: 5px;
  }

  .date {
    color: $color-subtext;
    white-space: nowrap;
  }

  .count {
    color: $color-subtext;
    font-size: $font-size-small;
    font-style: italic;
    white-space: nowrap;
  }
}

body[data-slug="graphics"] main {
  a img {
    height: 190px;
  }
}

body[data-slug="guitalele"] main {
  td:first-child {
    white-space: nowrap;
  }
}

body[data-slug="integral"] main {
  td {
    padding: 0;
    vertical-align: middle;

    &:last-child {
      padding-left: 15px;
    }
  }

  .limit input {
    width: 2em;

    @media ($media-desktop) {
      width: 2.5em;
    }
  }

  .int {
    border: 0px;
    font-family: Impact, Georgia, "Times New Roman";
    font-size: 7em;

    @media ($media-desktop) {
      font-size: 8em;
    }
  }

  .paren {
    display: none;
    font-family: "Times New Roman";
    font-size: 6em;

    @media ($media-desktop) {
      display: table-cell;
    }
  }

  tr.center input {
    margin: 3px 0 0;
  }

  #integrand,
  #integrand input {
    width: 100%;
  }
}

body[data-slug="projects"] main {
  h2 {
    margin: 0 0 0.25em;
  }

  h3 {
    margin-bottom: 0.25em;
  }

  p {
    margin: 1.25em 0 0 0;
  }

  .project-table {
    display: table;
    margin-bottom: 40px;
  }

  .project-desc {
    display: none;
  }

  $width-thumbnail: 100px;
  $margin-thumbnail: 6px;

  .project-cell {
    display: table-cell;
    vertical-align: top;

    &:first-child {
      padding-right: 30px;
      width: 100%;

      @media (min-width: 450px) {
        padding-right: 40px;
      }
    }

    &:last-child {
      $width-total: $width-thumbnail + $margin-thumbnail;

      min-width: $width-total;

      @media (min-width: 450px) {
        min-width: 2 * $width-total;
      }
    }
  }

  .project-timeline {
    color: $color-subtext;
  }

  .thumbnails img {
    border-radius: $border-radius;
    box-shadow: none;
    cursor: pointer;
    display: block;
    display: inline-block;
    margin: 0 ($margin-thumbnail) ($margin-thumbnail) 0;
    max-width: $width-thumbnail;
    opacity: 0.2;
    transition: opacity 0.15s;
    vertical-align: top;

    &.tiny {
      max-width: ($width-thumbnail - $margin-thumbnail) * 0.5;
    }

    &.dark {
      filter: brightness(4);
      -webkit-filter: brightness(4);
    }

    &.untagged {
      opacity: 0.2 !important;
    }

    &:hover,
    &.current,
    &.tagged {
      opacity: 1;
    }
  }
}

/********************************************************************** ISSO */

// We *could* paste Isso's CSS file here and tell Isso's JS client to skip
// loading it, but instead we just override those styles here in order to
// simplify version control and Isso upgrades

#isso-thread {
  // Comment count
  h4 {
    display: none;
  }

  // Inputs
  input[name="edit"],
  input[name="email"],
  input[name="preview"],
  input[name="website"],
  label {
    display: none;
  }
  input,
  .isso-textarea {
    margin: 0 0 5px;
  }
  p {
    margin: 0;
  }

  // Comment section
  #isso-root {
    // Provide enough margin-top to prevent mobile "Submit" button from
    // colliding with floating avatar and enough negative margin-left to align
    // comment text with main content text
    margin: 2.5em 0 0 -0.95em;
  }

  // Comment
  .isso-comment:not(:first-of-type),
  .isso-follow-up .isso-comment {
    border-top: 1px solid $bg-panel !important;
  }

  // Comment avatar
  .isso-avatar {
    float: right;
    margin: 1.2em 0 1.2em 1.2em;
  }

  // Comment author
  .isso-author {
    color: $color-subtext !important;
  }

  // "Reply" link
  .isso-comment > div.isso-text-wrapper > .isso-comment-footer > a + a {
    margin-left: 1em !important;
    padding-left: 0 !important;
  }

  // Footer link on hover
  .isso-comment > div.isso-text-wrapper > .isso-comment-footer a:hover {
    color: $color-link !important;
    text-shadow: none !important;
  }

  // Timestamp
  .isso-comment
    > div.isso-text-wrapper
    > .isso-comment-header
    a.isso-permalink {
    color: $color-subtext !important;

    &:hover {
      border-color: $color-subtext !important;
      color: $color-subtext !important;
    }
  }

  // Nested comments
  .isso-follow-up {
    padding-left: $width-indent;
  }

  svg {
    border: none !important;
    box-shadow: none !important;
  }
}
