* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

canvas {
  overflow: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#menu,
#menu li li {
  color: #ddd;
  background: #000;
}

#menu {
  -moz-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  height: 30px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  z-index: 2;
}

#menu img {
  height: 16px;
  width: 16px;
}

#menu ul {
  float: left;
  height: 30px;
  list-style: none;
  z-index: 3;
}

#menu li {
  float: left;
  position: relative;
}

#menu li a {
  display: block;
  padding: 6px 10px;
}

#menu li ul {
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  display: none;
  float: left;
  position: absolute;
  top: 30px;
  width: 200px;
  z-index: 4;
}

#menu li:hover ul {
  display: inline;
}

#menu li li {
  clear: both;
  padding: 10px;
  width: 100%;
}

#status {
  float: left;
  padding: 6px 4px 8px;
}

#status a {
  color: #8f0;
  display: inline !important;
  padding: 0px !important;
}
