<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if page.description != null %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="Art Chaidarun">
  <title>{% if page.pagetitle != null %}{{ page.pagetitle }} | {% endif %}Art Chaidarun</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="theme-color" content="#6fe358">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  {% if page.headcss != null %}{{ page.headcss }}{% endif %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-1.10.1.min.js"><\/script>')</script>
  <script type="text/javascript" src={% if page.url == "/index.html" %}"/js/jquery.tipsy.js"{% else %}"/js/lightbox.js"{% endif %}></script>
  {% if page.headjs != null %}{{ page.headjs }}{% endif %}
</head>
<body id="top" class="{{ page.title | downcase | remove: ".html" | replace:' ','-' }}-html">
<div id="topline"></div>
<div id="wrap" class="centered">
  <div id="header">
    <a id="logo" href="/"><img src="/img/icogreen.png" alt="Home"><span><strong>Art</strong>Chaidarun</span></a>
    <ul>
      <li><a{% if page.categories contains "projects" %} class="active"{% endif %} href="/projects">Projects</a></li>
      <li><a{% if page.categories contains "blog" %} class="active"{% endif %} href="/blog">Blog</a></li>
      <li><a{% if page.categories contains "about" %} class="active"{% endif %} href="/about">About</a></li>
    </ul>
  </div>
  <div class="content">
    {% if page.h1 != null %}<h1>{{ page.h1 }}</h1>{% endif %}
    {{ content }}
  </div>
  <div id="footer">
    <p>&copy; {{ site.time | date: "%Y" }} Art Chaidarun<span><a href="https://www.facebook.com/artnc" title="facebook">f</a><a href="http://www.linkedin.com/in/artnc/" title="linkedin">in</a><a href="https://plus.google.com/117410706532450381491?rel=author" title="google+">g+</a><a href="https://github.com/artnc" title="github">gh</a><a href="/feed.xml" title="blog feed">rss</a></span></p>
  </div>
</div>
<script type="text/javascript">
var rotation;
var ico = $('#logo img');
$("#logo").on('mouseenter', function() {
  ico[0].style.textIndent = "0px";
  ico.animate({textIndent: 360}, {
    step: function(now, fx){
      rotation = "rotate(" + now + "deg)";
      $(this).css("transform", rotation).css("-ms-transform", rotation).css("-webkit-transform", rotation).css("-o-transform", rotation).css("-moz-transform", rotation);
    },
    duration: 300
  }, "linear");
});

$("a[href*='http']:not([href^='/'])").prop("target", "_blank");
</script>
{% include ga.html %}
</body>
</html>
